@font-face {
  font-family: 'NOTHS Sans No2 Regular';
  src: url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.eot?#iefixage') format('embedded-opentype'),
  url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.woff') format('woff'),
  url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'NOTHS Sans No2 SemiBold';
  src: url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.eot?#iefixage') format('embedded-opentype'),
  url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.woff') format('woff'),
  url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_2_semibold.ttf')  format('truetype');
}

@font-face {
  font-family: 'NOTHS Sans No3 Regular';
  src: url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_3_regular.eot?#iefixage') format('embedded-opentype'),
  url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_3_regular.woff') format('woff'),
  url('http://cdn.notonthehighstreet.com/stylesheets/fonts/noths_sans_3_regular.ttf')  format('truetype');
}
body {
  background:url(https://s3-eu-west-1.amazonaws.com/noths-prod-eu-west-1-campaigns/campaigns/images/xmas-2015/bg-navigation.jpg) center top no-repeat #fff
}

div.base{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent; /* CHANGE ME */
  width: 800px;
  padding: 10px;
  margin-top: 150px;
  font-family: "NOTHS Sans No2 SemiBold","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
  font-size: large;
  text-transform: uppercase;
}

div.question-block{

}

div.answer-block{

}

div.results-block{

}

div.result{
  float: left;
  margin:50px;
}

div.row{
  margin-bottom: 30px;
}
p.data {
  width:250px;
}
p.banter{

}

p.question{

}

img.image {
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 3px 3px 0 #d6d2ce;
}
